body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  background-color: aliceblue;


}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
